/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    /* flex-direction: column; */
    background-color: yellow;
    height: 400px;
    justify-content: center ;
    align-items: center; /*por defecto es stretch, dimensiona los elementos en toda la altura del contenedor , */
    flex-wrap: wrap;
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 250px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 250px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: pink;
    /* height: 200px; */
    width: 250px;
    border: 1px solid blue;
}