* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Helvetica;
    color: white;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    /*object-fit: cover no comprime ni colapsa, no se redimensiona, sino rellena los espacios*/
}

.header {
    height: 100vh;  /*para que el div ocupe todo el alto*/
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column; /*para que el boton esté abajo*/
    gap: 10px;  /*espacio entre items*/
    justify-content: center;
    align-items: center;
}
