.contenedor {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 10rem;
    align-items: flex-end;
}

.item {
    background-color: brown;
    padding: 1rem;
    min-height: 2.5rem;
    min-width: 10rem;
    text-align: center;
}

.item4 {
      align-self: stretch;
      min-height: 5rem;
}